- if (can? :create, Comment) or (can? :delete, comment)
  .pull-right
    - if can? :delete, comment
      = link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger"
    - if can? :create, Comment
      = link_to "Reply", 'javascript:;', class: "btn btn-xs btn-primary reply-button"
%h6.media-heading
  = comment.author
  - if comment.subreply?
    = surround '(', ')' do
      in response to
      = link_to comment.reply_to,'javascript:;'
%p
  = comment.body
