= simple_form_for @post do |f|
  .form-group
    = f.input :title, placeholder: "Title", label: false
  .form-group
    = f.input :body, placeholder: "Body", label: false, input_html: { rows: 15 }
  .actions
    = f.submit class: "btn btn-default"
    = link_to 'Back', :back, class: "btn btn-danger"
