<div class="panel panel-default">
  <div class="panel-heading">
    <b>
      <%= post.title %>
    </b>
    <div class="pull-right">
      <% if can? :update, post %>
        <%= link_to edit_post_path(post), data: { toggle: "tooltip", placement:"top", title:"Edit" } do %>
          <span class="glyphicon glyphicon-pencil">
        <% end %>
      <% end %>
      <% if can? :delete, post %>
        <%= link_to post, method: :delete, data: { confirm: "Are you sure?", toggle: "tooltip", placement:"top", title:"Delete" } do %>
          <span class="glyphicon glyphicon-trash">
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
<%= raw post.body %>
  </div>
  <div class="panel-footer text-center">
    <div class="pull-left">
      <% post.tags.each do |tag| %>
        <% if params[:tags] && params[:tags].include?(tag.id.to_s) %>
          <%= link_to tag.name, remove_tag_path(tag), class: "btn btn-primary btn-xs active" %>
        <% else %>
          <%= link_to tag.name, tag_path(tag), class: "btn btn-primary btn-xs" %>
        <% end %>
      <% end %>
    </div>
    <span><%= link_to post.comment_count, post_path(post, anchor: "comments") %></span>
    <span class="pull-right">Posted By: <%= post.author %></span>
  </div>
</div>
