<div class="panel panel-default">
  <div class="panel-heading">
    <b>
      <%= post.title %>
    </b>
    <div class="pull-right">
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <div class="panel-body">
<%= raw post.body %>
  </div>
  <div class="panel-footer text-center">
    <div class="pull-left">
      <% post.tags.each do |tag| %>
        <span class="label label-primary"><%= tag %></span>
      <% end %>
    </div>
    <span><%= link_to post.comment_count, post_path(post, anchor: "comments") %></span>
    <span class="pull-right">Posted By: <%= post.author %></span>
  </div>
</div>
